.gio-core-data-panel {
  display: grid;
  grid-row-gap: 15px;

  .form-row {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

    &.description {
      align-items: baseline;
    }
  }

  .header {
    margin-bottom: 15px;
    padding-right: 25px;
    text-align: right;
  }
  .chart {
    min-height: 200px;
    border: 1px solid #eee;
  }
}