.data-panel-container {
  // position: relative;
  .gio-core-data-panel {
    display: grid;
    grid-row-gap: 15px;
    .ant-form-item {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  
    .form-field {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
  
      &.description {
        align-items: baseline;
      }
      &.chart {
        grid-template-columns: 1fr;
      }
    }
  
    .header {
      margin-bottom: 15px;
      padding-right: 25px;
      text-align: right;
    }
    .chart-area {
      margin-top: 5px;
    }
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 40px;
    text-align: right;
    height: 60px;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    padding: 10px 16px;
    width: 100%;
  }
}
