.gio-expression {
  margin-bottom: 15px;

  & > div + div {
    margin-left: 5px;
  }

  .ant-select {
    vertical-align: middle;
  }

  .gio-value-select--multiple {
    vertical-align: top;

    .ant-select-selection__choice__remove {
      font-size: 14px!important;
      right: 3px!important;
    }
  }

  &-btn-remove {
    svg {
      vertical-align: middle;
      margin-left: 15px;
      margin-right: 0!important;
      opacity: 0.8;
      transition: opacity 0.3s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      &[disabled] {
        opacity: .4;
        pointer-events: none;
      }
    }
  }
}