.gio-expression {
  margin-bottom: 15px;

  & > div + div {
    margin-left: 5px;
  }

  .ant-select {
    vertical-align: middle;
  }

  .gio-value-select--multiple {
    vertical-align: top;
  }

  [name='gicon-close'] {
    vertical-align: middle;
    margin-left: 25px;
    opacity: 0.6;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 1;
    }
  }
}
